.main{
    height: 400px;
    width: 400px;
    background-color: white;
    margin: auto;
    display: flex;
    border: 2px solid black;
}
.ear{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    height: 100px;
    width: 400px;
}
.ear-1,.ear-2{
    height: 95px;
    width: 100px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 50% 50% 0 0;
}
.face{
    height: 300px;
    width: 300px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    justify-content: center;
    z-index: 1;
}

.eyes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    
}
.left, .right{
    height: 65px;
    width: 65px;
    background-color: white;
    border-radius: 50%;
}
.circle
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    margin:35% auto;
}
.nose{
    height: 50px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
    position: relative;
    margin: 15% auto;
    display: flex;
    border: 2px solid  black;
}
.noseh
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
}
.main:hover{
    .ear-1,.ear-2{
        background-color: black;
        height: 300px;
        width: 600px;
    }
}